
@{
    int counter = 0;
}

@model Skapiec.Models.SearchViewModel

<style>
    .product-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        background-color: #7A6AA8;
        color: white;
        margin-bottom: 20px;
        width: calc(100% - 20px);
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
    }

    .product-details {
        display: flex;
    }

    .product-image {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    .product-info {
        flex-grow: 1;
    }

        .product-info h3 {
            margin-top: 0;
        }

        .product-info p {
            margin: 5px 0;
        }

    .product-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .product-link:hover {
            background-color: gray;
        }

    .product-image {
        width: 130px;
        height: auto;
    }

    .product-name {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

</style>

<h1>Wyszukaj najtańsze produkty</h1>

<form method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Chcę znaleźć:" asp-for="Name" />
        <input type="number" style="display: none" value="1" asp-for="PageNumber" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Znajdź</button>
        </div>
    </div>
</form>

@if (ViewBag.Products != null)
{
    <form method="post">
        <input type="text" style="display: none" value="@Model.Name" class="form-control" asp-for="Name" />
        <input type="number" style="display: none" alue="@Model.PageNumber" asp-for="PageNumber" />
        <button type="submit" class="btn btn-primary">@Model.Name : Strona @Model.PageNumber</button>
    </form>
    <h2>Znalezione produkty:</h2>
    <div class="product-container">
        @foreach (var product in ViewBag.Products)
        {
            <div class="product">
                <div class="product-details">
                    <img src="@product.ImgUrl" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h3 class="product-name">@product.Name</h3>
                        <p>Cena: @product.Value zł</p>
                        <a href="@product.Link" class="product-link">Link</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
