@model List<Skapiec.Entities.Product>

<table class="table">
    <thead>
        <tr>
            <th>Obrazek</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Data dodania</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td><img src="@product.ImgUrl" alt="Product Image" style="width:100px;height:100px;"></td>
                <td>@product.Name</td>
                <td>@product.Value</td>
                <td>@product.CreationTime</td>
                <td><a href="@product.Link">Link</a></td>
            </tr>
        }
    </tbody>
</table>
