@model IEnumerable<Skapiec.Entities.Product>

@{
    ViewData["Title"] = "Historia";
}

<h1>Historia</h1>

<form method="post" asp-action="Index" id="searchForm">
    <div class="form-group">
        <label for="queryColumn">Wybierz wyszukiwanie z listy:</label>
        <select class="form-control" id="queryColumn" name="queryColumn" onchange="document.getElementById('searchForm').submit()">
            @{
                var selectedQueries = new List<string>();
                foreach (var product in ViewBag.Products)
                {
                    if (!selectedQueries.Contains(product.query))
                    {
                        <option value="@product.query">@product.query</option>
                        selectedQueries.Add(product.query);
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="sortOrder">Sortowanie:</label>
        <select class="form-control" id="sortOrder" name="sortOrder" onchange="document.getElementById('searchForm').submit()">
            <option value="NameAsc">Nazwa (rosnąco)</option>
            <option value="NameDesc">Nazwa (malejąco)</option>
            <option value="PriceAsc">Cena (rosnąco)</option>
            <option value="PriceDesc">Cena (malejąco)</option>
            <option value="DateAsc">Data (rosnąco)</option>
            <option value="DateDesc">Data (malejąco)</option>
      
        </select>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Obrazek</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Link</th>
                <th>
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><img src="@product.ImgUrl" alt="Product Image" style="width:100px;height:100px;"></td>
                    <td>@product.Name</td>
                    <td>@product.Value</td>
                    <td><a href="@product.Link">Link</a></td>
                    <td>@product.CreationTime.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}
