
@model IEnumerable<Skapiec.Entities.Product>

@{
    ViewData["Title"] = "Query Results";
}

<h1>Historia</h1>

<form method="post" asp-action="Index">
    <div class="form-group">
        <label for="queryColumn">Wybierz wyszukiwanie z listy:</label>
        <select class="form-control" id="queryColumn" name="queryColumn">
            @{
                var selectedQueries = new List<string>();
                foreach (var product in ViewBag.Products)
                {
                    if (!selectedQueries.Contains(product.query))
                    {
                        <option value="@product.query">@product.query</option>
                        selectedQueries.Add(product.query);
                    }
                }
            }
        </select>
        <!--
            -----------------------
            @if (ViewBag.Products != null && ViewBag.Products.Count > 0)
        {
            var firstProductWithDate = ViewBag.Products[0];
            if (firstProductWithDate != null)
            {
                var formattedDate = firstProductWithDate.CreationTime.ToString("yyyy-MM-dd HH:mm");
                <label class="form-label">Creation Time: @formattedDate</label>
            }
        }
        ------------------------
        -->
    </div>
    <button type="submit" class="btn btn-primary">Show Results</button>
</form>

@if (Model != null && Model.Any())
{
    var firstProductWithDate = ViewBag.Products[0];
    if (firstProductWithDate != null)
    {
        var formattedDate = firstProductWithDate.CreationTime.ToString("yyyy-MM-dd HH:mm");
        <label class="form-label">Creation Time: @formattedDate</label>
    }
    <!-- Przeniosłem to z góry -->
    <table class="table">
        <thead>
            <tr>
                <th>Obrazek</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><img src="@product.ImgUrl" alt="Product Image" style="width:100px;height:100px;"></td>
                    <td>@product.Name</td>
                    <td>@product.Value</td>
                    <td><a href="@product.Link">Link</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<!--
else
{
    <p>No results found.</p>
}
Dałem do komentarza bo wyświetlało się przy pierwszym odpaleniu strony
Poza tym scraper jest niezabezpieczony przez nullem, więc nie jest
możliwe dodanie querty które nie ma wyników
-->
